<!DOCTYPE html>

<html>
<head>
<head>

<body>
  <h2>Your Shopping Cart</h2>
  <p>Item: <%= "#{params[:item]}" %></p>
  <a href="/checkout"><input type="submit" name="submit" id="submit" value="submit"></a>
</body>
</html>
