<!DOCTYPE html>

<html>
<head>
</head>

<body>
  <form method="post" action="/checkout">
    <p>Item<input type="text" name="item"></p>
    <a href="/checkout"><input type="submit" name="Checkout" id="Checkout" value="submit"></a>
  </form>
</body>
</html>
